<%
if measure ('sg_i.CORE_ACD')
%>
<div class="dashbox">
  <table>
    <tr>
        <td width="280px"><h3>Architecture</h3></td>
        <td width="270px"><h3>Unresolved Issues</h3></td>
        <td align="right"><a href="http://www.hello2morrow.com/products/sonargraph/sonar#architecture" target="_blank"> <img alt="Sonargraph" class="png" src="<%= url_for_static(:plugin => 'sonargraphintegration', :path => 'SonargraphIconSmall.png') %>" /></a></td>
    </tr>
    <tr>
        <td>
<%
    if measure('sg_i.ARCHITECTURE_FEATURE_AVAILABLE')
%>
            <p><span class="big">
              <%= format_measure('sg_i.CORE_VIOLATIONS_COMPONENT_DEPENDENCIES', :url => "#{ApplicationController.root_context}/drilldown/issues/#{@project.id}?filter=category&rule=sonargraphintegration:ARCHITECTURE_VIOLATION") -%> </span> 
              violating component dependencies <%= tendency_icon(measure('sg_i.CORE_VIOLATIONS_COMPONENT_DEPENDENCIES')) %>
            </p>
<% 
  else 
%>
    	<strong>Feature "Architecture" is not licensed.</strong>
<% 
end
%>            
        </td>
        <td>
            <p><span class="big">
              <%= format_measure('sg_i.NUMBER_OF_CRITICAL_ISSUES_WITHOUT_RESOLUTION') -%>  
               </span> total issues (warnings and errors) <%= tendency_icon(measure('sg_i.NUMBER_OF_CRITICAL_ISSUES_WITHOUT_RESOLUTION')) %>
            </p>
        </td>
        <td></td>
    </tr>
   	<tr>
        <td> 
              <%= format_measure('sg_i.CORE_VIOLATING_COMPONENTS', :suffix => ' violating components', :url => "#{ApplicationController.root_context}/drilldown/issues/#{@project.id}?filter=category&rule=sonargraphintegration:ARCHITECTURE_VIOLATION") -%> <%= format_measure('VIOLATING_COMPONENTS_PERCENT', :prefix => '(', :suffix => ')') -%> <%= tendency_icon(measure('sg_i.CORE_VIOLATING_COMPONENTS')) %> 
        </td>
        <td>                                                                            
              <%= format_measure('sg_i.JAVA_PACKAGE_CYCLE_GROUPS', :suffix => ' package cycle groups') -%> <%= tendency_icon(measure('sg_i.JAVA_PACKAGE_CYCLE_GROUPS')) %>
        </td>
    </tr>
    <tr>
    	<td>
              <%= format_measure('sg_i.CORE_VIOLATIONS_PARSER_DEPENDENCIES', :suffix => ' violating parser dependencies', :url => "#{ApplicationController.root_context}/drilldown/issues/#{@project.id}?filter=category&rule=sonargraphintegration:ARCHITECTURE_VIOLATION") -%>
        </td>
        <td>  
        	  <%= format_measure('sg_i.CORE_DUPLICATES', :suffix => ' duplicate code blocks', :url => "#{ApplicationController.root_context}/drilldown/issues/#{@project.id}?filter=category&rule=sonargraphintegration:DUPLICATE_CODE") -%> <%= tendency_icon(measure('sg_i.CORE_DUPLICATES')) %>
        </td>
    </tr>
    <tr>
    	<td>
              <%= format_measure('sg_i.CORE_IGNORED_VIOLATIONS_PARSER_DEPENDENCIES', :suffix => ' ignored violations') -%> <%= tendency_icon(measure('sg_i.CORE_IGNORED_VIOLATIONS_PARSER_DEPENDENCIES')) %>
        </td>
        <td>
              <%= format_measure('sg_i.NUMBER_OF_THRESHOLD_VIOLATIONS', :suffix => ' threshold violations', :url => "#{ApplicationController.root_context}/drilldown/issues/#{@project.id}?filter=category&rule=sonargraphintegration:THRESHOLD_VIOLATION") -%> <%= tendency_icon(measure('sg_i.NUMBER_OF_THRESHOLD_VIOLATIONS')) %>
        </td>
    </tr>
    <tr>
        <td>
              <%= format_measure('sg_i.CORE_ARTIFACT_COUNT', :suffix => ' artifacts') -%> <%= tendency_icon(measure('sg_i.CORE_ARTIFACT_COUNT')) %>
        </td>
        <td>
              <%= format_measure('sg_i.NUMBER_OF_WORKSPACE_WARNINGS', :suffix => ' workspace warnings') -%> <%= tendency_icon(measure('sg_i.NUMBER_OF_WORKSPACE_WARNINGS')) %>
        </td>
    </tr>
    <tr>
    	<td>
              <%= format_measure('sg_i.CORE_UNASSIGNED_COMPONENTS', :suffix => ' unassigned components') -%> <%= format_measure('sg_i.UNASSIGNED_COMPONENTS_PERCENT', :prefix => '(', :suffix => ')') -%> <%= tendency_icon(measure('sg_i.CORE_UNASSIGNED_COMPONENTS')) %>
        </td>
        <td>
              <%= format_measure('sg_i.NUMBER_OF_IGNORED_CRITICAL_ISSUES', :suffix => ' ignored critical issues') -%> <%= tendency_icon(measure('sg_i.NUMBER_OF_IGNORED_CRITICAL_ISSUES')) %>
        </td>
    </tr>
  </table>
</div>
<% 
end
%>